body{
    background-color: rgb(113, 201, 223);
    color: aliceblue;
}
h2{
    text-align: center;
}

.filme{
    text-align: center;
    align-items: center;
width: 400px;
display: block;
padding: 30px;
}
.cartaz-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cartaz{
    width:30 %;
    height: 300px;
}
.link{
    background-color: rgb(234, 240, 240);
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

.informacao{
    width: 20%;
}
.texto-informacao{
    color: antiquewhite;
    font-size: 30px;
    font-family: caveat;
}